Säuglingssterblichkeit für zwei Zweitintervalle mit Länderaufschlüsselung.
Quelle: http://www.gbe-bund.de/gbe10/ergebnisse.prc_tab?fid=13853&suchstring=sterblichkeit&query_id=&sprache=D&fund_typ=TAB&methode=2&vt=1&verwandte=1&page_ret=0&seite=&p_lfd_nr=28&p_news=&p_sprachkz=D&p_uid=gast&p_aid=23367600&hlp_nr=3&p_janein=J#SEARCH=%2522sterblichkeit%2522
1. beiden Spalten: Säuglingssterbefälle pro 1.000 Lebendgeborene 2006 bis 2008
2. beiden Spalten: Veränderung von 1991 bis 1993 bis 2006 bis 2008

In [65]:
# imports
import pandas as pd

In [66]:
columns = ['Land', 'weiblich_2008', 'männlich_2008', 'weiblich_diff', 'männlich_diff']
data = [
    ['Schleswig-Holstein', 3.2, 3.8, -37, -45],
    ['Hamburg', 3.1, 3.5, -46, -56],
    ['Niedersachsen', 3.5, 5.2, -39, -19],
    ['Bremen', 4.1, 6.3, -11, 2],
    ['Nordrhein-Westfalen', 4.2, 4.9 ,-30, -36],
    ['Hessen', 3.8, 4.0, -23, -43],
    ['Rheinland-Pfalz', 3.7, 4.3, -36, -41 ],
    ['Baden-Württemberg', 2.7, 3.5, -45, -41 ],
    ['Bayern', 2.9, 3.9, -40, -38],
    ['Saarland', 3.7, 4.4, -36, -47 ],
    ['Berlin', 3.2, 3.8, -47, -45],
    ['Brandenburg', 2.5, 3.0,  	-56, -65],
    ['Mecklenburg-Vorpommern', 3.1, 3.7, -59, -53 ],
    ['Sachsen', 2.5, 2.6, -57, -65 ],
    ['Sachsen-Anhalt', 3.3, 3.3, -51, -61 ],
    ['Thüringen', 3.1, 4.1, -56, -54 ]
]
df_sterblichkeit = pd.DataFrame(data=data, columns=columns)

In [67]:
# new columns
df_sterblichkeit['weiblich_diff'] = df_sterblichkeit['weiblich_diff']/100-1
df_sterblichkeit['männlich_diff'] = df_sterblichkeit['männlich_diff']/100-1
df_sterblichkeit['weiblich_1993'] = df_sterblichkeit['weiblich_2008'] * (-1) * df_sterblichkeit['weiblich_diff']
df_sterblichkeit['männlich_1993'] = df_sterblichkeit['männlich_2008'] * (-1) * df_sterblichkeit['männlich_diff']

In [68]:
df_sterblichkeit

,Land,weiblich_2008,männlich_2008,weiblich_diff,männlich_diff,weiblich_1993,männlich_1993
0,Schleswig-Holstein,3.2,3.8,-1.37,-1.45,4.384,5.510
1,Hamburg,3.1,3.5,-1.46,-1.56,4.526,5.460
2,Niedersachsen,3.5,5.2,-1.39,-1.19,4.865,6.188
3,Bremen,4.1,6.3,-1.11,-0.98,4.551,6.174
4,Nordrhein-Westfalen,4.2,4.9,-1.30,-1.36,5.460,6.664
5,Hessen,3.8,4.0,-1.23,-1.43,4.674,5.720
6,Rheinland-Pfalz,3.7,4.3,-1.36,-1.41,5.032,6.063
7,Baden-Württemberg,2.7,3.5,-1.45,-1.41,3.915,4.935
8,Bayern,2.9,3.9,-1.40,-1.38,4.060,5.382
9,Saarland,3.7,4.4,-1.36,-1.47,5.032,6.468
10,Berlin,3.2,3.8,-1.47,-1.45,4.704,5.510
11,Brandenburg,2.5,3.0,-1.56,-1.65,3.900,4.950
12,Mecklenburg-Vorpommern,3.1,3.7,-1.59,-1.53,4.929,5.661
13,Sachsen,2.5,2.6,-1.57,-1.65,3.925,4.290
14,Sachsen-Anhalt,3.3,3.3,-1.51,-1.61,4.983,5.313
15,Thüringen,3.1,4.1,-1.56,-1.54,4.836,6.314

In [69]:
batches = ['weiblich_2008', 'männlich_2008', 'weiblich_1993', 'männlich_1993']
df_2008 = df_sterblichkeit[['Land', 'weiblich_2008', 'männlich_2008']]
df_2008['year'] = 2008
df_2008 = df_2008.rename(columns={'weiblich_2008': 'weiblich', 'männlich_2008': 'männlich'}, errors='raise')
df_1993 = df_sterblichkeit[['Land', 'weiblich_1993', 'männlich_1993']]
df_1993['year'] = 1993
df_1993 = df_1993.rename(columns={'weiblich_1993': 'weiblich', 'männlich_1993': 'männlich'})
df_new = df_2008.append(df_1993)

<ipython-input-69-293ddf61d173>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2008['year'] = 2008
<ipython-input-69-293ddf61d173>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_1993['year'] = 1993

In [71]:
df_new

                      Land  weiblich  männlich  year
0       Schleswig-Holstein     3.200     3.800  2008
1                  Hamburg     3.100     3.500  2008
2            Niedersachsen     3.500     5.200  2008
3                   Bremen     4.100     6.300  2008
4      Nordrhein-Westfalen     4.200     4.900  2008
5                   Hessen     3.800     4.000  2008
6          Rheinland-Pfalz     3.700     4.300  2008
7        Baden-Württemberg     2.700     3.500  2008
8                   Bayern     2.900     3.900  2008
9                 Saarland     3.700     4.400  2008
10                  Berlin     3.200     3.800  2008
11             Brandenburg     2.500     3.000  2008
12  Mecklenburg-Vorpommern     3.100     3.700  2008
13                 Sachsen     2.500     2.600  2008
14          Sachsen-Anhalt     3.300     3.300  2008
15               Thüringen     3.100     4.100  2008
0       Schleswig-Holstein     4.384     5.510  1993
1                  Hamburg     4.526     5.460  1993
2            Niedersachsen     4.865     6.188  1993
3                   Bremen     4.551     6.174  1993
4      Nordrhein-Westfalen     5.460     6.664  1993
5                   Hessen     4.674     5.720  1993
6          Rheinland-Pfalz     5.032     6.063  1993
7        Baden-Württemberg     3.915     4.935  1993
8                   Bayern     4.060     5.382  1993
9                 Saarland     5.032     6.468  1993
10                  Berlin     4.704     5.510  1993
11             Brandenburg     3.900     4.950  1993
12  Mecklenburg-Vorpommern     4.929     5.661  1993
13                 Sachsen     3.925     4.290  1993
14          Sachsen-Anhalt     4.983     5.313  1993
15               Thüringen     4.836     6.314  1993